<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-info">
      <div class="container-fluid">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Ver Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Opciones
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><hr class="dropdown-divider"> <a class="dropdown-item" type="button" href="/logout"><box-icon name='log-out'></box-icon> Logout</a></li>
                <li></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mantenimiento de Empleados/Usuarios
              </a>
              <ul class="dropdown-menu">
                <li><hr class="dropdown-divider"> <a class="dropdown-item" type="button" href="/create_user">Registrar Empleado</a></li>
                <li><hr class="dropdown-divider"> <a class="dropdown-item" type="button" href="/list_users">Lista de Empleados/Usuarios</a></li>
                 
               
             
                <li></li>
              </ul>
            </li>



            <li class="nav-item">
              <a class="nav-link disabled" hidden>Disabled</a>
            </li>
          </ul>
        
        </div>
      </div>
    </nav> 
      <span>
      <% if(user) { %>
      <div class="container mt-4">     
        <div class="card border-secondary">
            <div class="card-header">Editar Registro</div>
            <div class="card-body">
                <form action="/update" method="POST" id="form_edit_client">
                  <input id="id" name="id" value="<%= user.id_cliente %>" hidden>
                  <div class="mb-3">
                    <label for="name" class="form-label">Nombres</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= user.nombres %>" tabindex="1">
                  </div>
                  <div class="mb-3">
                    <label for="apellido" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" value="<%= user.apellidos %>" tabindex="1">
                  </div>
                  <div class="mb-3">
                    <label for="celular" class="form-label">Telefono/Celular </label>
                    <input type="text" class="form-control" id="celular" name="celular" value="<%= user.celular %>" tabindex="1">
                  </div>
                  <div class="mb-3">
                    <label for="tipodoc" class="form-label">Tipo de Documento </label>
                    <input type="text" class="form-control" id="tipodoc" name="tipodoc" value="<%= user.id_tipo_doc %>" tabindex="1">
                  </div>
                  <div class="mb-3">
                    <label for="numerodoc" class="form-label">N° de Documento</label>
                    <input type="text" class="form-control" id="numerodoc" name="numerodoc" value="<%= user.num_doc %>" tabindex="1">
                  </div>
                  <div class="mb-3">
                    <label for="direccion" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="direccion" name="direccion" value="<%= user.direccion %>" tabindex="1">
                  </div>
                  <div class="mb-3">
                    <label for="sector" class="form-label">Sector</label>
                    <input type="text" class="form-control" id="sector" name="sector" value="<%= user.nom_sector %>" tabindex="1">
                  </div>
                  <div class="mb-3">
                    <label for="estado" class="form-label">Estado del Cliente</label>
                    <input type="text" class="form-control" id="estado" name="estado"  value="<%= user.id_estado %>" tabindex="1">
                  </div>
                                    <br>
                                    <br>
                                    <br>
                                    
                                    
                    
                    <button onclick="confirmarEdit(event)" type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                    <a href="/" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>        
  </div>    
  <% } %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

function confirmarEdit(event){
      event.preventDefault();
      Swal.fire({
      title: 'Guardar Edicion ?',
      icon: 'info' ,
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor : '#d33',
      confirmButtonText: 'Confirmar',
     
      cancelButtonText: 'Cancelar'
    }).then((result) => {
     

      if (result.isConfirmed) {
        Swal.fire('Guardado!', '', 'success')
        setTimeout(() => {
          document.getElementById('form_edit_client').submit();
       

        } , 1000);
         
      

      } else if (result.isDenied) {
        Swal.fire('No se ha Guardado', '', 'info')
       
      }
    })
    }

    </script>
  </body>
</html> 