<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="resources/css/styles.css">
    
</head>
<body>
    <div class="login-form">
        <h2>LOGIN Principal</h2>
            <form action="/login" method="POST">
                <input type="text" name="user" id="user" placeholder="Usuario">
                <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña">
                <button type="submit" class="btn-login">Ingresar</button>
                    
            </form>
            <a href="" class="btn-register ">Registrarse</a>
       

    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <% if(alert) { %>
      <script>
        Swal.fire({
            title:'<%=alertTitle%>',
            text:'<%=alertMessage %>',
            icon:'<%=alertIcon%>',
            showConfirmButton:'<%=showConfirmButton%>' ,
            timer: '<%=timer%>' 

        }).then(()=>{
            window.location ='/<%=ruta%>'
        })
      </script>  
  <%  } %>
</body>
</html>